<!--Modal: modalConfirmDelete-->
					<div class="modal fade responsive" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
	            <!--Content-->
	            <div class="modal-content text-center">
	                <!--Header-->
	                <div class="modal-header d-flex justify-content-center">
	                    <p class="heading">Are you sure?</p>
	                </div>

	                <!--Body-->
	                <div class="modal-body">

	                    <p><i class="fa fa-check fa-2x animated rotateIn"></i> This action is permanent and cannot be undone. All raw scores associated with this student record will also be deleted.</p>

									    
									      <h6 style="font-weight: bold;">ID Number</h6>

									      <p id="sid"></p>
									    
									    
									      <h6 style="font-weight: bold;">Name</h6>
									      <span id="lname"></span>, <span id="fname"></span> <span id="mname"></span>
									      

									    

	                </div>

	                <!--Footer-->
	                <div class="modal-footer flex-center">
	                    <a href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn  btn-outline-secondary-modal" id="delete">Yes</a>
	                    <a type="button" class="btn  btn-primary-modal waves-effect" data-dismiss="modal">No</a>
	                </div>
	            </div>
	            <!--/.Content-->
		        </div>
		    	</div>
	    	<!--Modal: modalConfirmDelete-->